                <%= form_for @user do |f| %>
                  <% if @user.errors.any? %>

                    <!-- make partial later -->
                    <div class="error_messages">
                      <h2>Oh no, there was an error!</h2>
                      <ul>
                        <% for message in @user.errors.full_messages %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                          Your email address: <%= f.text_field :email, {class: 'form-control', id: "exampleInputEmail2", placeholder: "Email address", required: ""}%>
                        </div>
                        <div class="form-group">
                          Password: <%= f.password_field :password, {class: 'form-control', id: "exampleInputEmail2", placeholder: "Password", required: ""} %>
                        </div>
                        <div class="form-group">
                          Confirm your password: <%= f.password_field :password_confirmation, {class: 'form-control', id: "exampleInputEmail2", placeholder: "Password Confirmation", required: ""} %>
                        </div>


                        <div class="form-group">
                          <div class="actions"><%= f.submit "Sign Up!", :class => 'btn btn-success btn-blockr' %></div>
                        </div>

                     <% end %>
                    </div>
                  </div>