<div class="col-lg-9 content-right">
  <h3>Lending request sent to <%= @user.email %></h3>
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <% @user.products.each do |product| %>
      <% product.rentals.sort_by(&:created_at).reverse.each do |rental| %>
      <tr>
        <td style= "width: 20%">
          <strong>From:<br>
          </strong><%= rental.borrower.email %>
        </td>
        <td style = "width: 20%">
          <strong>Start-date:</strong><%= rental.start_date.to_date %><br>
          <strong>End-date:</strong><%= rental.end_date.to_date %>
        </td>
        <td>
          <strong>Details: </strong><%= truncate(rental.rental_detail, length: 150) %>
        </td>
        <td>
          <% if rental.borrower_acceptance != true %>
            <% if rental.rental_approved == nil %>
              <div>
                <%= form_tag product_rental_path({:product_id => product.id, :id => rental.id}), method: :patch do %>
                  <%= hidden_field_tag 'rental[rental_approved]', true %>
                  <%= submit_tag "Accept", :class => "btn btn-success pull-left" %>
                <% end %>
              </div>
              <div>
                <%= form_tag product_rental_path({:product_id => product.id, :id => rental.id}), method: :patch do %>
                  <%= hidden_field_tag 'rental[rental_approved]', false %>
                  <%= submit_tag "Decline", :class => "btn btn-danger pull-left clearfix" %>
                <% end %>
              </div>
            <% else %>
              <div>
                <% if rental.rental_approved == true %>
                  <p>Awaiting final approval from borrower</p>
                <% end %>
                <%= form_tag product_rental_path({:product_id => product.id, :id => rental.id}), method: :patch do %>
                  <%= hidden_field_tag 'rental[rental_approved]', nil %>
                  <%= submit_tag "Change", :class => "btn btn-success pull-left clearfix" %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>The transaction has been processed</p>
          <% end %>
          </td>
      </tr>
      <% end %>
      <% end %>
      </tbody>
      </table>
      </div>

      <h3>Borrowing requests sent from <%= @user.email %></h3>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% @user.rentals.sort_by(&:created_at).reverse.each do |rental| %>
            <tr>
              <td style= "width: 20%">
                <strong>From:<br>
                </strong><%= rental.borrower.email %>
              </td>
              <td style = "width: 20%">
                <strong>Start-date:</strong><%= rental.start_date.to_date %><br>
                <strong>End-date:</strong><%= rental.end_date.to_date %>
              </td>
              <td>
                <strong>Details: </strong><%= truncate(rental.rental_detail, length: 150) %>
              </td>
              <td>
              <% if rental.rental_approved == true %>
                <% if rental.borrower_acceptance == nil %>
                 <p>The lender has accepted your request, please accept to complete transaction</p>
                  <div>
                    <%= form_tag product_rental_path({:product_id => rental.product.id, :id => rental.id}), method: :patch do %>
                      <%= hidden_field_tag 'rental[borrower_acceptance]', true %>
                      <%= submit_tag "Accept",:class => "btn btn-success pull-left" %>
                    <% end %>
                  </div>
                  <div>
                    <%= form_tag product_rental_path({:product_id => rental.product.id, :id => rental.id}), method: :patch do %>
                      <%= hidden_field_tag 'rental[borrower_acceptance]', false %>
                      <%= submit_tag "Decline", :class => "btn btn-danger pull-left" %>
                    <% end %>
                  </div>
                <% elsif rental.borrower_acceptance == true %>
                  <p>Transaction processed</p>
                <% else %>
                  <p>You have decliened this transaction</p>
                <% end %>
              <% else %>
                <p>Transaction pending approval from lender</p>
              <% end %>
            </td>
          <% end %>
        </table>
    </div>
  </div>
</div>


