<div class="col-lg-9 content-right">
  <h3>Lending request sent to <%= @user.email %></h3>
    <div class="row selected-classifieds">
       <ul >
        <% @user.products.each do |product| %>
          <% product.rentals.sort_by(&:created_at).reverse.each do |rental| %>
            <div class="col-lg-3">
              <div class="thumbnail">
                <div class="caption">
                  <%= rental.id %>
                  <p><strong>from:</strong><%= rental.borrower.email %></p>
                  <p><strong>Details:</strong><%= truncate(rental.rental_detail, length: 150) %></p>
                  <p><strong>Start-date:</strong><%= rental.start_date %></p>
                  <p><strong>Start-date:</strong><%= rental.end_date %></p>
                  <% if rental.borrower_acceptance != true %>
                    <% if rental.rental_approved == nil %>
                      <div>
                       <%= form_tag rental_path(rental), method: :patch, :html => {:class => "form-control"} do %>
                        <%= button_tag "Accept", :name => 'rental[rental_approved]', :value => 'true' %>
                        <%= button_tag "Decline", :name => 'rental[rental_approved]', :value => 'false' %>
                      <% end %>
                      </div>
                    <% else %>
                      <div>
                        <% if rental.rental_approved == true %>
                          <p>Awaiting final approval from borrower</p>
                        <% end %>
                        <%= form_tag rental_path(rental), method: :patch, :html => {:class => "form-control"} do %>
                         <%= button_tag "Change", :name => 'rental[rental_approved]', :value => nil %>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <p>The transaction has been processed</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
    <h3>Borrowing requests sent from <%= @user.email %></h3>
    <div class="row selected-classifieds">
       <ul >
        <% @user.rentals.sort_by(&:created_at).reverse.each do |rental| %>
          <div class="col-lg-3">
            <div class="thumbnail">
              <div class="caption">
                <%= rental.id %>
                <p><strong>from:</strong><%= rental.borrower.email %></p>
                <p><strong>Details:</strong><%= truncate(rental.rental_detail, length: 150) %></p>
                <p><strong>Start-date:</strong><%= rental.start_date %></p>
                <p><strong>Start-date:</strong><%= rental.end_date %></p>
                <% if rental.rental_approved == true %>
                  <% if rental.borrower_acceptance == nil %>
                   <p>The lender has accepted your request, please accept to complete transaction</p>
                    <div>
                      <%= form_tag rental_path(rental), method: :patch, :html => {:class => "form-control"} do %>
                        <%= button_tag "Accept", :name => 'rental[rental_approved]', :value => 'true' %>
                        <%= button_tag "Decline", :name => 'rental[rental_approved]', :value => 'false' %>
                      <% end %>
                    </div>
                  <% elsif rental.borrower_acceptance == true %>
                    <p>Transaction processed, thanks for using JustBorrow.it</p>
                  <% else %>
                    <p>You have decliened this transaction</p>
                  <% end %>
                <% else %>
                  <p>Transaction pending approval from lender</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>


