<% if current_user %>
  <div class="rental-form">
  <h4>Rent this <%= @product.title %></h4>
  <%= form_for ([@product, @rental]) do |f| %>
    <% if @rental.errors.any?  %>
      <div id = "error_explanation">
        <h2><%= pluralize(@rental.errors.count, "error") %> prevented this rental from being saved.</h2>
        <ul>
          <% @rental.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class = "field">
      <p>
        <%= f.label :start_date %><br/>
        <%= f.date_field :start_date,{ placeholder: "Email address", required: ""} %>
      </p>
      <p>
        <%= f.label :end_date %><br/>
        <%= f.date_field :end_date,{ placeholder: "Email address", required: ""} %>
      </p>
      <p>
        <%= f.label :rental_detail, "Rental request details" %><br/>
        <%= f.text_area :rental_detail,{:class => "rental-detail", placeholder: "ex. Pickup and drop off hour or any special request regarding this item", required: ""} %>
      </p>
      <%= f.hidden_field :borrower_id, :value => current_user.id %>

    </div>

    <div class = "actions">
      <%= f.submit "Request rental", :class => 'btn btn-success' %>
    </div>
  <% end %>
  </div>
<% else %>
  <%= link_to "Please log in to borrow this item!", new_session_path %>
<% end %>
