<div class="product-form">
<h2>Add product</h2>
<%= form_for ([@product]) do |f| %>
  <% if @product.errors.any?  %>
    <div id = "error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prevented this product from being saved.</h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= render_breadcrumbs :separator => ' / ' %>
  <div class = "field">
    <p>
      <%= f.label :title %><br/>
      <%= f.text_area :title %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
     <p>
      <%= f.label :price %><br/>
      <%= f.text_field :price %>
    </p>
    <p>
      <%= f.label :tag_list, "Tags separated by commas" %><br/>
      <%= f.text_area :tag_list %>
    </p>
  </div>

  <div class = "actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
