    <div class="row content">
        <div class="col-lg-3 content-left">
          <h4>Search</h4>
          <div class="well well-sm">
            <form>
              <fieldset>
                <input type="text" class="form-control" />
                <small><a href="#" class="btn-advanced-search">Advanced</a></small>
                <input type="submit" class="btn btn-danger btn-sm btn-search" value="Search" />
              </fieldset>
            </form>
          </div>
          <h4>Categories</h4>
          <div class="list-group categories">
            <a href="#" class="list-group-item">Books <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">Cameras & Photo <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">Cell Phones & Accessories <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">Clothing, Shoes & Accessories <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">Computers & Networking <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">DVDs & Movies <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">Health & Beauty <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">Music <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a href="#" class="list-group-item">Toys & Hobbies <span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
        <div class="col-lg-9 content-right">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Cell Phones & Accessories</a></li>
            <li><a href="#">Smartphones</a></li>
          </ol>
          <h2><%=@product.title%></h2>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12" id="slider">
                  <div class="col-md-12" id="carousel-bounding-box" style="padding: 0;">
                    <div id="detailCarousel" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="active item" data-slide-number="0">
                          <img src="img/classifieds/galaxy-s4.jpg" class="img-responsive" />
                        </div>
                        <div class="item" data-slide-number="1">
                          <img src="http://placehold.it/1024x768/e0e0e0/&text=Image+2" class="img-responsive" />
                        </div>
                        <div class="item" data-slide-number="2">
                          <img src="http://placehold.it/1024x768/e0e0e0/&text=Image+3" class="img-responsive" />
                        </div>
                        <div class="item" data-slide-number="3">
                          <img src="http://placehold.it/1024x768/e0e0e0/&text=Image+4" class="img-responsive" />
                        </div>
                        <div class="item" data-slide-number="4">
                          <img src="http://placehold.it/1024x768/e0e0e0/&text=Image+5" class="img-responsive" />
                        </div>
                      </div>
                      <a class="carousel-control left" href="#detailCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                      <a class="carousel-control right" href="#detailCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">
                  <ul class="list-inline">
                    <li><a id="carousel-selector-0" class="selected"><img src="img/classifieds/galaxy-s4.jpg" class="img-responsive" /></a></li>
                    <li> <a id="carousel-selector-1"><img src="http://placehold.it/1024x768/e0e0e0/&text=Image+2" class="img-responsive" /></a></li>
                    <li> <a id="carousel-selector-2"><img src="http://placehold.it/1024x768/e0e0e0/&text=Image+3" class="img-responsive" /></a></li>
                    <li> <a id="carousel-selector-3"><img src="http://placehold.it/1024x768/e0e0e0/&text=Image+4" class="img-responsive" /></a></li>
                    <li> <a id="carousel-selector-4"><img src="http://placehold.it/1024x768/e0e0e0/&text=Image+5" class="img-responsive" /></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <table class="table table-condensed table-hover">
                <thead>
                  <th colspan="2">Details:</th>
                </thead>
                <tbody style="font-size: 12px;">
                  <tr>
                    <td>Classified ID</td>
                    <td>$<%=@product.id%></td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>$<%=@product.price%></td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <span style="padding-left: 5px;"><strong>Lender:</strong></span>
                  <div class="well">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4><a href="#"><%=@product.lender.email%></a></h4>
                        <small>Rating: <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span></small><br />
                        <small>Location: <cite title="Prague, Czech Republic">Prague, Czech Republic <span class="glyphicon glyphicon-map-marker"></span></cite></small><br />
                        <span class="glyphicon glyphicon-envelope"></span> email@example.com<br />
                        <span class="glyphicon glyphicon-phone-alt"></span> +420 123 456 789<br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Description</h4>
              <p style="text-align: justify;"><%=@product.description%></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <h4>Send message to seller</h4>
              <div class="panel panel-default">
                <div class="panel-body">
                  <form action="#" method="POST">
                    <div class="form-group">
                      <label for="InputEmail">Email address</label>
                      <input type="email" class="form-control" id="InputEmail" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                      <label for="InputText">Your text</label>
                      <textarea class="form-control" id="InputText" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;"></textarea>
                    </div>
                    <button class="btn btn-info" type="submit">Send</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
=======


<% if current_user %>
  <div class="rental-form">
  <h2>Rent this item</h2>
  <%= form_for ([@product, @rental]) do |f| %>
    <% if @rental.errors.any?  %>
      <div id = "error_explanation">
        <h2><%= pluralize(@rental.errors.count, "error") %> prevented this rental from being saved.</h2>
        <ul>
          <% @rental.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class = "field">
      <p>
        <%= f.label :start_date %><br/>
        <%= f.date_field :start_date %>
      </p>
      <p>
        <%= f.label :end_date %><br/>
        <%= f.date_field :end_date %>
      </p>
      <%= f.hidden_field :borrower_id, :value => current_user.id %>

    </div>

    <div class = "actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
<% else %>
  <%= link_to "Please log in to borrow this item!", new_session_path %>
<% end %>

>>>>>>> 2bb8455633900616e16d8f0b6c2206b9237c764c
