      <div class="footer">
        <div class="well well-sm">
          <div class="pull-left">
            <ul class="nav nav-pills">
              <li><%= link_to 'List a new item', new_product_path(@product), :class => "hidden-xs hidden-sm" %></li>
            </ul>
          </div>
          <div class="pull-right">
            <ul class="nav nav-pills">
              <li><a href="help.html">Help</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="conditions.html">Rules & conditions</a></li>
            </ul>
          </div>
          <div class="clearfix">&nbsp;</div>
        </div>
        <div class="pull-right">
          <p class="text-muted"><small>Copyright &copy; 2014 JustBorrow.it - All Rights Reserved.</small></p>
        </div>
      </div>
    </div>

  <script type="text/javascript">
    $( document ).ready(function() {
          // Drop down menu handler
          $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
          });
    });
// Google maps
    var map;
    var initialLocation;
    var browserSupportFlag =  new Boolean();
    function initialize() {
      var myOptions = {
        center: initialLocation,
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var mapDiv = document.getElementById('map-canvas');
      map = new google.maps.Map(mapDiv, myOptions);



      var infoWindow = new google.maps.InfoWindow;
      var onMarkerClick = function() {
        var marker = this;
        var latLng = marker.getPosition();
        var content = document.getElementById('id' + marker.id)
        infoWindow.setContent(content.innerHTML);

        infoWindow.open(map, marker);
      };



      google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);
       // Try W3C Geolocation (Preferred)
      if(navigator.geolocation) {
        browserSupportFlag = true;
        navigator.geolocation.getCurrentPosition(function(position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
          map.setCenter(initialLocation);
        }, function() {
          handleNoGeolocation(browserSupportFlag);
        });
      }
      // Browser doesn't support Geolocation
      else {
        browserSupportFlag = false;
        handleNoGeolocation(browserSupportFlag);
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag == true) {
          initialLocation = new google.maps.LatLng(43.652527,-79.381961);
        } else {
          alert("Your browser doesn't support geolocation. We've placed you in Toronto.");
          initialLocation = new google.maps.LatLng(43.652527,-79.381961);
        }
        map.setCenter(initialLocation);
      }



    function addMarkers() {
      for (var i = 0; i < (<%=raw @hash.to_json %>).length; i++) {
        console.log((<%= raw @hash.to_json %>)[i]);
        var latLng = new google.maps.LatLng((<%= raw @hash.to_json %>)[i].lat, (<%= raw @hash.to_json %>)[i].lng );
        var prodId = <%= raw @hash.to_json %>[i].id;
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: "hello, I'm number " + i,
          id: prodId,
          animation: google.maps.Animation.DROP,
        });
        // google.maps.event.addListener(marker, 'mouseout', function() {
        //   console.log("hello")
        //   infoWindow.close();
        // });
        google.maps.event.addListener(marker, 'mouseover', onMarkerClick);

      }
    }
  }
    //create markers for products


    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
    <!-- JS moved to assets/javascript/products.js -->
</body>
</html>
