<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "JustBorrow.it" %>">
    <title>JustBorrow.it - Borrow anything from anyone, anywhere!</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSg8ljksKg835lI0-qiKqy6R5a4prDMPc&sensor=false"></script>
    <%= javascript_include_tag "products" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container wrapper">
      <!-- Logo -->
      <div class="logo">
        <%= link_to(image_tag("czsale_logo.png", :alt => "logo", :title => "JustBorrow.it", :style => "max-width: 200px; margin-top: -14px"), "/") %>
      </div>
      <!-- /Logo -->
      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#czsale-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="czsale-navbar">
          <%= link_to 'Add Item', new_product_path, :class => 'btn btn-success navbar-btn add-classified-btn navbar-left hidden-sm hidden-xs' %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Add an Item', new_product_path, :class => 'hidden-md hidden-lg hidden-xl' %></li>
            <li><%= link_to 'Help', help_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Home', root_path %></li>
                <li><a href="category.html">Category page</a></li>
                <li><a href="detail.html">Classified detail</a></li>
                <li><%= link_to 'Terms', terms_path %></li>
                <li><%= link_to 'Help', help_path %></li>
                <li><%= link_to 'Contact', contact_path %></li>
                <li><%= link_to 'Sign up', new_user_path %></li>
              </ul>
            </li>
          <% if current_user %>
            <li class="divider"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
              <ul class="dropdown-menu" style="padding: 10px;min-width: auto;">
                <li><%= link_to "My Transactions", user_path(current_user) %></li>
                <li><%= link_to "Logout", logout_path%></li>
              <ul>
            </li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
              <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <%= form_tag sessions_path do %>
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail2">Email address</label>
                          <%= text_field_tag :email, params[:email], :class => 'form-control',:placeholder => "Email address" %>
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputPassword2">Password</label>
                          <%= password_field_tag :password, "", :class => 'form-control', :placeholder => "Password" %>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                            <%= check_box_tag :remember_me, 0, params[:remember_me] %>
                          </label>
                        </div>

                        <div class="form-group">
                          <div class="actions"><%= submit_tag "Log in", :class => 'btn btn-success btn-blockr' %></div>
                        </div>

                     <% end %>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li>
                  <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
                  <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
                </li>
              </ul>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>

      <!-- /Static navbar -->
      <div class="row content">
        <div class="col-lg-3 content-left">
          <div class="well well-sm">
            <div class="row">
            <form>
              <fieldset>
                <div class="col-xs-9 content-left">
                <%= form_tag(products_path, method: "get") do %>
                  <%= text_field_tag(:search,"",:class => "form-control", :placeholder => "Search items near you!") %>
                </div>
                <div class="col-xs-3 content-left">
                  <%= button_tag("Search",:name => nil, :class=> "btn btn-danger btn-sm btn-search") %>
                </div>
                <% end %>
              </fieldset>
            </form>
            </div>
          </div>
          <div class="hidden-sm hidden-xs">
            <h4>Categories</h4>
            <div class="list-group categories">
              <% @categories = Category.all.sort_by!{ |e| e.category_name.downcase } %>
              <% @categories.each do |c| %>
                <%= link_to category_page_path + "/?category_id="+c.id.to_s, :class=> "list-group-item" do %>
                  <%= c.category_name %>
                  <%= content_tag :span, "", :class => "glyphicon glyphicon-chevron-right" %>
                <% end %>
              <% end %>
           </div>
          </div>


        <div class="panel-group visible-sm visible-xs" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h4 class="panel-title">
                  Categories
                </h4>
              </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="list-group categories">
                <% @categories = Category.all.sort_by!{ |e| e.category_name.downcase } %>
                <% @categories.each do |c| %>
                  <%= link_to category_page_path + "/?category_id="+c.id.to_s, :class=> "list-group-item" do %>
                    <%= c.category_name %>
                    <%= content_tag :span, "", :class => "glyphicon glyphicon-chevron-right" %>
                  <% end %>
                <% end %>
               </div>
            </div>
          </div>
        </div>
      </div>

